<div class="container">
  <h1 class='app-title'>Budget Manager</h1>
</div>
<div class="bottom-element w-100">
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary w-100 p-4" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-light w-100 p-4" %>
</div>
