/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f1f1f1;
}

.logout--btn {
  background: unset;
  border: unset;
}

.img-tumbnail {
  max-width: 100%;
  max-height: 5em;
}

.mw-100 {
  max-width: max-content !important;
}

.mw-100:active {
  color: gainsboro !important;
}

.mw-100:hover {
  color: #dfdfdf !important;
}

.mw-100:visited {
  color: rgb(161, 161, 161) !important;
}

.bottom-element {
  margin-top: auto !important;
  position: fixed !important;
  bottom: 5px !important;
  width: 90%;
}

.text-primary {
  color: #3778c2 !important;
}

.text-success {
  color: #5fb523 !important;
}

.text-dark {
  color: #434b54 !important;
}

.bg-primary,
.btn-primary {
  background-color: #3778c2 !important;
}

.bg-success,
.btn-success {
  background-color: #5fb523 !important;
}

.bg-dark,
.btn-dark {
  background-color: #434b54 !important;
}

.app-title {
  top: 45%;
  position: absolute;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  width: 100vw;
  left: 0;
}

.text-gray {
  color: #979797;
}
